{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('asset/css/login.css')}}">
{% endblock %}

{% block body %}
<section id="login">
    <div class="container-fluid login-page-container">
        <div class="row">
            <div class="col-lg-7 login-bkg">
                <img src="{{ asset('asset/image/11.jpg') }}" alt="">
            </div>
            <div class="col-lg-5 login-form">
                {% include 'security/login_content.html.twig' %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
