<h1>Bonjour voici votre email de confirmation !!</h1>

<p>
    Veuillez valider votre adresse email en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl }}" style="color: blue;">Confirmer votre adresse email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Nous vous souhaitons une bonne journée <br><br>
    De la part de l'équipe de La Fourchette Victorieuse !!!
</p>
